body{
    background-color:black
}
h1  {
    text-align: center;
    color:lightskyblue
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}    
h2  {
    text-align: center;
    font-size: x-large;
    color:chocolate
}
h3  {
    text-align: center;
    font-size: medium;
    color:wheat
}
p  {
	text-align: center;
    font-size: 10px;
}
a   {
    width: auto;
    color:khaki
}