<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <header>
            <img src="Choco.png" alt="Logo for Coffee Shop" style="width:250px;height: 100px;">
        </header>

        <nav>
            <a href="https://alexanderthe-great.github.io/website/index/index.html">Vaihtoehto 1</a>
            <a href="https://alexanderthe-great.github.io/website/second/index.html">Vaihtoehto 2</a>
            <a href="https://alexanderthe-great.github.io/website/styles/index.html">Vaihtoehto 3</a>
        </nav>

        <section>
            <h2>Fresh Coffee</h2>
            <p>Everyday</p>
        </section>

        <aside>
            <h2>Tuoretta pullaa</h2>
            <p>Croissantteja</p>
        </aside>

        <article>
            <h2>Käsinleivottuja leivoksia</h2>
            <p>Kakkuja</p>
        </article>

        <footer>
            <h2>Valikoima</h2>
            <ul>
                <li>Cappuccino</li>
                <li>Latte</li>
                <li>Americano</li>
                <li>Espresso</li>
            </ul>
        </footer>

    </div>

</body>

</html>