body    {
    background-color: cornflowerblue;
}

.container  {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header  {
    background-color: white;
    height: 100px;
    text-align: center;    
}

nav {
    background-color:red;
    height: 40px;  
    text-align: center;
    padding-top: 20px;  
}

section {
    background-color: orange;

    height: 100px;
    text-align: center;
    padding-top: 10px;
}

aside   {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

article {
    display: block;
    background-color:mediumspringgreen;
    height: 150px;
    width: 40%;
  }

footer {
    background-color: greenyellow;
    height: 125px;
}

h2  {
    color:lightseagreen;
}

p   {
    font-size: larger;
    font-style: italic;
    color: darkcyan;
}

