* {
    margin : 0;
    padding : 0;
    font-family : sans-serif;
    }
    body{
        background-image: url("bedroom.jpg");
        background-color: #009688;
        background-size: cover;
    }
    .navbar{
    width : 85%;
    margin : auto;
    padding : 35px 0;
    display : flex;
    align-items : center;
    justify-content : space-between;
    }
    .navbar ul li{
    list-style : none;
    display : inline-block;
    margin : 0 20px;
    position: relative;
    font-weight: bolder;
    text-shadow: 0.5px 0.5px #ff0000;
    }
    .navbar ul li a{
    text-decoration : none;
    color :coral;
    }
    .navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
    }
    .navbar ul li:hover::after{
        width: 100%;
    }
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color:coral;
        text-shadow: 2px 2px #ff0000;
    }
    .content h1{
        font-size: 70px;
        margin-top: 80px;
    }
    .content p{
        margin: 20px auto;
        font-weight: bold;
        line-height: 25px;
        text-shadow: 1px 1px #ff0000;
    }
    button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    color: #009688;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    }
    button:hover{
        border: none;
    }

    /* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }